@use '../../assets/theme/_var.scss' as *;

.input_group {
  & {
    padding-bottom: 2rem;
  }

  .form {
    &-control {
      background-image: none;
      border-radius: 3rem;
      background-color: $inputbg;
      border: .1rem solid $inputbg;
      font-size: 1.6rem;
      width: 100%;
      caret-color: $white;
      height: 5.6rem;
      color: $white;
      padding: .5rem 1.6rem .5rem 2rem;
      font-weight: 600;

      &:-webkit-autofill::first-line,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: $white;
        overflow: clip;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-backdrop-filter: blur(5.4rem);
        --tw-shadow: 0 0 0px 1000px $inputbg inset !important;
        -webkit-box-shadow: 0 0 0px 1000px $inputbg inset !important;
        font-size: 1.6rem;
        caret-color: $white;
        border-color: $inputbg;

        @media (max-width:1679px) {
          font-size: 1.4rem;
        }
      }

      &::placeholder {
        color: rgba($white,.4);
        caret-color: rgba($white,.4);
        opacity: 1;
      }

      &:-moz-placeholder {
        color: rgba($white,.4);
        caret-color: rgba($white,.4);
        caret-color: $textclr;
      }

      &::-webkit-input-placeholder {
        color: rgba($white,.4);
        caret-color: rgba($white,.4);
        caret-color: $textclr;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }

      &:focus {
        border-color: $secondryclr;
        box-shadow: none;
      }

      @media (max-width:1679px) {
        font-size: 1.4rem;
      }

      &.is-invalid {
        border-color: $red;
      }

      &:disabled {
        cursor: default;
        pointer-events: none;
        opacity: .5;
        background: $disabledclr;
      }
    }

    &-label {
      color: $textclr;
      font-size: 1.4rem;
      margin-bottom: .8rem;
      font-weight: 500;
      display: block;

      sup {
        color: $red;
      }
    }

    &-check {
      &-label {
        color: $primaryclr;
        font-size: 1.4rem;
        font-weight: 500;

        span {
          color: $textclr;
        }
      }
    }
  }

  &_inner {
    position: relative;

    &.rightpadding {
      .form-control {
        padding-right: 7rem;

        @media(max-width:575px) {
          padding-right: 6rem;
        }
      }
    }

    &_righttext {
      position: absolute;
      right: 2rem;
      display: flex;
      top: 50%;
      transform: translateY(-50%);
      color: $primaryclr;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;
      z-index: 2;
      @media (max-width: 575px) {
        font-size: 1.1rem;
      }
    }
  }

  &_passbtn {
    position: absolute;
    right: 2rem;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
  }

  &_btm_title {
    display: block;
    padding-top: .5rem;
    font-size: 1.4rem;
  }

  &_inner {
    position: relative;
  }

  &_passbtn {
    position: absolute;
    right: 2rem;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
  }

  &_btm_title {
    display: block;
    padding-top: 0.5rem;
    font-size: 1.4rem;

    span,
    a,
    p {
      font-size: 1.4rem;
    }
  }

  &.passfield {
    .input_group {
      &_inner {
        .form {
          &-control {
            padding-right: 5rem;
          }
        }
      }
    }
  }

  .error_text {
    color: $red;
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }

  @media (max-width:1279px) {
    .form {
      &-control {
        height: 4.5rem;
        padding: .5rem 1rem .5rem 1rem;
        line-height: 4.5rem;
      }
    }

    &_passbtn {
      right: 1.5rem;

      svg {
        height: 1.8rem;
        width: 1.8rem;
      }
    }

    .error_text {
      font-size: 1.3rem;
    }
  }
}

.searchbar {
  .form-control {
    padding: 0.5rem 3rem 0.5rem 4.5rem;
    height: 5rem;

    @media (max-width:1279px) {
      height: 4.5rem;
    }
  }

  .searchIcon {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 1.6rem;
  }
}